*{	
	margin:0;
	padding: 0;
	box-sizing: border-box;

 }

 body{
 	font-family:'Josefin Sans', sans-serif;
 	display: flex;
 	height: 100%;
 	width: 100%;
 	margin-top: 60px;
 	background: url(../img/backGround.jpg) no-repeat fixed center;
 	background-size: cover;
 	overflow: hidden
 }

 div {
 	width: 600px;
 	height: 520px;
 	margin: auto;
 	padding-top: 50px;
 	border: 5px solid #fff;
 	border-radius: 10%;
 	color: #fff;
 	background: hsla(0, 0%, 0%, 0.5);
 }

.pic { 
	margin: auto;
	margin-bottom: 20px;
 	width: 250px;
 	height: 240px;
 	border-radius: 50%;
 	border: 5px solid #fff;
 	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.7);
 	display: block;
 }

h1{
 	width: 100%;
 	margin: auto;
 	margin-bottom: 15px; 
 	text-align: center;
 	font-size: 80px;
 }

h3{
 	width: 90%;
 	margin: auto;
 	text-align: center;
 	font-size: 30px;
 }

